


<div class="banner margin-top-70">

  <div class="banner-content">
    <h1 style="color: lightgrey;">
      <span id="cocktail-title" ></span>Cocktails
    </h1>

    <%= render "cocktails/cards" %>

  </div>

</div>


